<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- Compiled and minified CSS -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
  <script type="text/javascript" src="js/init.js"></script>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Jonathan York</title>

<!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>


<body class="blue">

<!--navbar-->
  <nav>
    <div class="container nav-wrapper">
      <a href="#!" class="brand-logo right">Jonathan York</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a data-target="modal1" class="modal-trigger">Contact Me</a>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <h3 class="teal-text"><i class="mdi-social-group"></i></h3><h4 class="black-text">Let's Talk!</h4>
        <div class="collection">
          <a href="mailto:jonathanyork02@gmail.com" class="collection-item" target="_blank">Gmail</a>
          <a href="https://www.facebook.com/" class="collection-item" target="_blank">Facebook</a>
          <a href="https://instagram.com/" class="collection-item" target="_blank">Instagram</a>
          <a href="https://github.com/jyork779" class="collection-item" target="_blank">GitHub</a>
          <a href="https://drive.google.com/file/d/0B54PlPLI7GV6cXI3WmhUVjFFVlE/view?usp=sharing" class="collection-item" target="_blank">Resume</a>
        </div>
      </ul>
    </div>
  </nav>
<!--End navbar-->


<!-- Banner -->
  <div id="index-banner introduction">
    <div class="parallax-container plax">
      <div class="container">
        <div class="center m6">
            <img class="responsive-img valign-wrapper circle z-depth-2 headshot" src="https://pbs.twimg.com/profile_images/499282380952436736/DFygpBc6.jpeg">
        </div>
        <div id="subtitle">
          <h5 class="card z-depth-2 left-align hoverable" id="subtitle"><span class="bold">Hello!</span> My name is <span class="bold">Jonathan York</span> and I am a website and application <span class="bold">Developer</span> currently residing in <span class="bold">Denver, NC.</span><br><br><div class="divider"><br></div></br> I enjoy creating <span class="bold">Usable</span>, <span class="bold">Clean</span>, and <span class="bold">Practical</span> web sites and applications.
          </h5>
        </div>
        <div class="parallax"><img src="http://www.thepaperwall.com/wallpapers/nature/big/big_6b36a3d94288ec99bb0049d59f303f322e9597eb.jpg"></div>
      </div>
    </div>
  </div>
<!-- End Banner -->



<!--Collapsible -->
  <div class="blue-grey darken-3">
    <br>
     <blockquote class="container white-text">
                <h4>About Me</h4>
              </blockquote>
              <br>
    <div class="container list">
      <ul class="collapsible popout hoverable" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="material-icons">person_pin</i>Personal</div>
          <div class="collapsible-body materialize-red lighten-2"><p>Aspiring web developer, Tech-junkie, and Music aficionado... I was born in Boston, raised in Charlotte, NC, and have lived in or around the greater-Charlotte area for the better part of 25 years. (So I guess you could call me a local.) I graduated from The University of South Carolina in 2012 with a double major in Management and Marketing. While at school I also competed on the Men's Varsity Swim Team. After graduation I moved back to the Queen City to pursue a career in Web Development and have been here ever since! In my freetime I enjoy mixing and producing music, "outdoorsy" activities, and hanging out with friends.</p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">web</i>Web Design</div>
          <div class="collapsible-body materialize-red lighten-2"><p>I have always been a "techie" at heart, and after a brief stint in technical recruiting, I realized I had a passion for web development. I decided to go all-in and pursue a career - so I enrolled in a bootcamp by the name of TechTalent South. TTS has been a great way for me to get my career started while also building out my professional network and portfolio.</p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">supervisor_account</i>Code for Kids</div>
          <div class="collapsible-body materialize-red darken-4"><p>In addition to coding for my own personal endeavours, I also enjoy taking some time to give back. Code for Kids is a program that gets kids coding early. It's designed to teach kids the basics of HTML, CSS, and Ruby on Rails. In my freetime I volunteer as an assistant. It's a ton of fun to interact with the kids and help them build out their ideas!</p></div>
        </li>
      </ul>
    </div>
</div>
<!--End Collapsible -->

<!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h3 class="teal-text"><i class="mdi-social-group"></i></h3><h4>Let's Talk!</h4>
      <p>Do you need a website, have a question or comment? Please feel free to send me an email. My aim is to reply within 24 hours. In the meantime, feel free to also find me on Facebook, GitHub, and Instagram!</p>

      <div class="collection">
        <a href="mailto:hamhollett@gmail.com" class="materialize- darken-4 collection-item active" target="_blank">Gmail</a>
        <a href="https://www.facebook.com/hamhollett" class="collection-item" target="_blank">Facebook</a>
        <a href="https://instagram.com/hamholla/" class="collection-item" target="_blank">Instagram</a>
        <a href="https://github.com/hamholla" class="collection-item" target="_blank">GitHub</a>
        <a href="https://drive.google.com/file/d/0B54PlPLI7GV6cXI3WmhUVjFFVlE/view?usp=sharing" class="collection-item" target="_blank">Resume</a>
      </div>

    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Thanks!</a>
    </div>
  </div>
<!-- End Modal Structure -->


<!-- Card row -->
<div class="parallax-container lax2">
      <div class="parallax"><img src="http://www.thepaperwall.com/wallpapers/nature/big/big_9af2c7ef8250ee4cdf04718242ec186206ee7436.jpg"></div>
          <div class="container row fix">

                <div class="col s12 m4">
                  <div class="card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="https://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0Bx4BSt6jniD7dkRYelJkeklqWFU/materialdesign_principles_motion.png">
                    </div>
                    <div class="card-content center">
                      <span class="card-title activator grey-text text-darken-4 flow-text">Web Dev<i class="material-icons right"></i></span>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Web Dev<i class="material-icons right">close</i></span>
                      <p>Need a website? Let's design a page built around you. From Navigation bars all the way down to the Footer, I can build a page that says exactly what you want to say, exactly how you want to say it. </p>
                    </div>
                  </div>
                </div>

                <div class="col s12 m4">
                  <div class="card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="http://arctouch.com/wp-content/uploads/2015/02/ballwithhadows.png">
                    </div>
                    <div class="card-content center">
                      <span class="card-title activator grey-text text-darken-4 flow-text">App Dev<i class="material-icons right"></i></span>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">App Dev<i class="material-icons right">close</i></span>
                      <p>I build apps that make life easier. Utilizing the framework Ruby on Rails, I can build an app that brings you the functionality and productivity you are looking for.</p>
                    </div>
                  </div>
                </div>

                 <div class="col s12 m4">
                  <div class="card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="https://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0Bx4BSt6jniD7VG9DQVluOFJ4Tnc/materialdesign_principles_metaphor.png">
                    </div>
                    <div class="card-content center">
                      <span class="card-title activator grey-text text-darken-4 flow-text">Design<i class="material-icons right"></i></span>

                    </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Design<i class="material-icons right">close</i></span>
                      <p>Functionality is great, but we always need a little form. I can get your site looking and moving the way you want it to. From front end styling, to animations, and transitions we can work together to bring your ideas to the web. </p>
                    </div>
                  </div>
                </div>
</div>

</div>
<!--End Card Row-->

<!--My Work-->

        <div>
            <div>
              <br>
              <blockquote class="container white-text">
                <h4>My Work</h4>
              </blockquote>
              <br>

              <div class="container mywork row">



                <ul id="staggered-test">
                  <li class="" style="transform: translateX(0px); opacity: 0;">
                  <div class="col s12 m6">
                     <div class="card hoverable">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="http://i.imgur.com/G9YMyfz.png">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Good Coffee<i class="material-icons right">more_vert</i></span>
                        <p><a href="http://hamholla.github.io/coffee/" target="_blank">View</a></p>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Good Coffee<i class="material-icons right">close</i></span>
                        <p>Who doesn't love Good Coffee? This is a mock up of a one page site. It is designed to be informative, stylish, and highly functional. Good Coffee's page was constructed with bootstrap, so it's mobile ready and should scale to any device (magic!).</p>
                        <p><a href="http://hamholla.github.io/coffee/" target="_blank">View</a></p>
                      </div>
                    </div>
                    </div>
                  </li>

                  <li class="" style="transform: translateX(0px); opacity: 0;">
                  <div class="col s12 m6">
                    <div class="card hoverable">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="http://i.imgur.com/1DdOMdC.png">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Gonuts Donuts<i class="material-icons right">more_vert</i></span>
                        <p><a href="https://cryptic-shore-5410.herokuapp.com/" target="_blank">View</a></p>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Gonuts Donuts<i class="material-icons right">close</i></span>
                        <p>We Go nuts for Donuts! This is an example of a functional rails app. Users can see Gonuts' donut variety, find descriptions for each donut, and learn more about the company itself. This app was built using Ruby on rails and bootstrap.</p>
                        <p><a href="https://cryptic-shore-5410.herokuapp.com/" target="_blank">View</a></p>
                      </div>
                    </div>
                    </div>
                  </li>

                  <li class="" style="transform: translateX(0px); opacity: 0;">
                  <div class="col s12 m6">
                    <div class="card hoverable">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="http://i.imgur.com/Xmbp9PO.jpg">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Pix Movies<i class="material-icons right">more_vert</i></span>
                        <p><a href="https://cryptic-cove-2798.herokuapp.com/" target="_blank">View</a></p>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Pix Movies<i class="material-icons right">close</i></span>
                        <p>Pix Movies! Although still a work in progress, this app is an example of an e-commerce application built in Rails and uses Foundation. When complete, it will feature a payment system and an easy to use shopping cart!</p>
                        <p><a href="https://cryptic-cove-2798.herokuapp.com/" target="_blank">View</a></p>
                      </div>
                    </div>
                    </div>
                  </li>

                  <li class="" style="transform: translateX(0px); opacity: 0;">
                  <div class="col s12 m6">
                    <div class="card hoverable">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="http://i.imgur.com/ipiQKt9.jpg">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Photogram<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">Coming Soon</a></p>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Photogram (Instagram Clone)<i class="material-icons right">close</i></span>
                        <p>Like, follow, share! Instagram is widely used photo-sharing application that I love to use, so I figured why not try and build a web version myself? Photogram is a Ruby on Rails app that features a responsive design utilizing Bootstrap, some really cool Ajax work, and user profiles with Devise. I am still working through a few bugs but hope to have it up shortly!</p>
                        <p><a href="#">Coming Soon</a></p>
                      </div>
                    </div>
                    </div>
                  </li>

                  <li class="" style="transform: translateX(0px); opacity: 0;">
                  <div class="col s12 m6">
                    <div class="card hoverable">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="http://i.imgur.com/8z9WPBb.png">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Rain-Dance<i class="material-icons right">more_vert</i></span>
                        <p><a href="https://rain-dance.herokuapp.com/" target="_blank">View</a></p>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Rain-Dance<i class="material-icons right">close</i></span>
                        <p>Rain-Dance; Like Netflix but more "Indie" (full movies not inlcuded). Rain-Dance is a Ruby on Rails project that utilizes the Materialize framework. Each movie links to its own description, release info, and youtube trailer. Users can find information on each movie and admins can add/delete movies at their discretion. Movies are also automatically sorted based on genre! </p>
                        <p><a href="https://rain-dance.herokuapp.com/" target="_blank">View</a></p>
                      </div>
                    </div>
                    </div>
                  </li>

                  <li class="" style="transform: translateX(0px); opacity: 0;">
                  <div class="col s12 m6">
                    <div class="card hoverable">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="http://i.imgur.com/sthKT38.png">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Flappy Bird<i class="material-icons right">more_vert</i></span>
                        <p><a href="http://hamhollett.com/flappybird/" target="_blank">View</a></p>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Flappy Bird (Clone)<i class="material-icons right">close</i></span>
                        <p>The game everyone loves to hate. Press spacebar to help your bird through the pipes. FlappyBird is a simple side scrolling javascript game built with phaser. How far can you go?</p>
                        <p><a href="http://hamhollett.com/flappybird/" target="_blank">View</a></p>
                      </div>
                    </div>
                    </div>
                  </li>

                </ul>
              </div>


<!-- footer -->
<br>
    <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h4 class="white-text">Let's Connect</h4>
                <p class="grey-text text-lighten-4">I'm very social and I'd love to hear from you! Feel free to send me an email, find me on Github, follow me on Instagram, and join me on Facebook.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" target="_blank" href="mailto:hamhollett@gmail.com">Gmail</a></li>
                  <li><a class="grey-text text-lighten-3" target="_blank" href="https://github.com/hamholla">GitHub</a></li>
                  <li><a class="grey-text text-lighten-3" target="_blank" href="https://instagram.com/hamholla/">Instagram</a></li>
                  <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.facebook.com/hamhollett">Facebook</a></li>
                  <li><a href="https://drive.google.com/file/d/0B54PlPLI7GV6cXI3WmhUVjFFVlE/view?usp=sharing" class="grey-text text-lighten-3" target="_blank">Resume</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2015 Ham Hollett
            </div>
          </div>
        </footer>
<!--End Footer-->

<script type="text/javascript">
      var options = [
        {selector: '#staggered-test', offset: 550, callback: 'Materialize.showStaggeredList("#staggered-test"); $("#call-3").velocity({ backgroundColor: "#333", color: "#ef5350" }, {duration: 300});' },
      ];
      Materialize.scrollFire(options);
</script>
</html>
